{{#frost-modal
  modalClass='frost-modal-input'
  modalName=modalName
  onOpen=onOpen
  onClose=onClose
  confirm=(action 'confirm') as |slot|}}
  {{#block-slot slot 'target'}}
    {{#yield-slot 'target'}}
      {{yield}}
    {{/yield-slot}}
  {{/block-slot}}

  {{#block-slot slot 'header'}}
    {{#if titleComponent}}
      {{component titleComponent}}
    {{else}}
      <div class="input-header">
        <div class="primary-title">{{title}}</div>
        {{#if subtitle}}
          <div class="sub-title">{{subtitle}}</div>
        {{/if}}
      </div>
    {{/if}}
  {{/block-slot}}

  {{#block-slot slot 'body'}}
    {{#yield-slot 'body'}}
      {{yield}}
    {{/yield-slot}}
  {{/block-slot}}

  {{#block-slot slot 'cancel'}}
    {{frost-button
      autofocus=true
      size='medium'
      priority='tertiary'
      text='Cancel'
    }}
  {{/block-slot}}
  {{#block-slot slot 'confirm'}}
    {{frost-button
      size='medium'
      priority='primary'
      text=confirmBtn}}
  {{/block-slot}}
{{/frost-modal}}
