{{#frost-modal
  modalClass='frost-modal-input'
  modalName=modalName
  onOpen=onOpen
  onClose=onClose
  confirm=(action 'confirm') as |slot|}}
  {{#block-slot slot 'target'}}
    {{#yield-slot 'target'}}
      {{yield}}
    {{/yield-slot}}
  {{/block-slot}}

  {{#block-slot slot 'header'}}
    {{#yield-slot 'header'}}
      {{yield}}
    {{else}}
      {{#if titleComponent}}
        {{component titleComponent}}
      {{else}}
        <div class="input-header">
          <div class="primary-title">{{title}}</div>
          {{#if subtitle}}
            <div class="sub-title">{{subtitle}}</div>
          {{/if}}
        </div>
      {{/if}}
    {{/yield-slot}}
  {{/block-slot}}

  {{#block-slot slot 'body'}}
    {{#yield-slot 'body'}}
      {{yield}}
    {{/yield-slot}}
  {{/block-slot}}

  {{#block-slot slot 'footer' as |controls|}}
    {{controls.cancel}}
    {{#yield-slot 'footer'}}
      {{yield (block-params
        (hash
         button=controls.button
        )
      )}}
    {{/yield-slot}}
    {{controls.confirm
    onConfirm=onSubmitHandler
    text=confirmBtn}}
  {{/block-slot}}
{{/frost-modal}}
