{{#frost-modal
  modalClass='frost-modal-input'
  modalName=modalName
  onOpen=onOpen
  onClose=(action 'onClose')
  modalClose=modalClose as |slot|}}
  {{#block-slot slot 'target'}}
    {{#yield-slot 'target'}}
      {{yield}}
    {{/yield-slot}}
  {{/block-slot}}

  {{#block-slot slot 'header'}}
    {{#if titleComponent}}
      {{component titleComponent}}
    {{else}}
      <div class="input-header">
        <div class="primary-title">{{title}}</div>
        {{#if subtitle}}
          <div class="sub-title">{{subtitle}}</div>
        {{/if}}
      </div>
    {{/if}}
  {{/block-slot}}

  {{#block-slot slot 'body'}}
    {{#yield-slot 'body'}}
      {{yield (block-params
        (hash form=(
          component 'frost-bunsen-form'
          onValidation=(action 'validate')
          onChange=(action 'formValueChanged')
          )
        )
        formValue
      )}}
    {{/yield-slot}}
  {{/block-slot}}

  {{#block-slot slot 'footer' as |controls modalClose|}}
    {{#liquid-if showErrorCount class="form-error-count"}}
      {{errorLength}} Errors
    {{/liquid-if}}
    <div>
    {{controls.cancel}}
    {{#yield-slot 'footer'}}
      {{yield (block-params
        (hash
         button=controls.button
         confirm=(component
           'submit-button'
           text='Submit'
           priority='primary'
           size='medium'
           isValid=isValid
           saveAttempted=(action 'saveAttempted')
           close=modalClose
           )
        )
      )}}
    {{/yield-slot}}
  </div>
  {{/block-slot}}
{{/frost-modal}}
