<div class="section-title">Perfect Scroll frost-modal-input</div>
<hr>
<div class="section">
  <div class="example">
    <div class="demo">
      {{!-- {{frost-create-long-form
        onConfirm=(action 'save')}} --}}
    </div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{#frost-modal-input
  title='Test title'
  subtitle='Subtitle'
  modalName=modalName as |slot|}}
  {{#block-slot slot 'openButton' as |item|}}
    {{item.button
      text='Open Modal with Perfect Scroll'
      priority='secondary'
      size='medium'}}
  {{/block-slot}}
  {{#block-slot slot 'form'}}
    {{frost-bunsen-form
      model=userModel
      view=userView
      onChange=(action 'formValueChanged')
      onValidation=(action 'onValidation')}}
  {{/block-slot}}
  {{#block-slot slot 'actions'}}
    {{frost-button
      onClick=(action 'cancel')
      size='medium'
      text='Cancel'
      priority='tertiary'}}
    {{frost-button
      onClick=(action 'save')
      size='medium'
      text='Save'
      priority='primary'}}
  {{/block-slot}}
{{/frost-modal-input}}
    ```"
      }}
    </div>
  </div>
</div>
