<div class="section-title">Default frost-modal-input</div>
<hr>
<div class="section">
 <div class="example">
     <div class="demo">
       {{#frost-button
         size='medium'
         priority='secondary'
         text='Open Default Modal'
         onClick=(action 'onClickHandler')}}
       {{/frost-button}}
       {{liquid-modal class=(if isModalActive 'form-container' '')}}
     </div>
     <div class="snippet">
       {{format-markdown "```handlebars
{{#frost-modal-input title='Test title' subtitle='Subtitle'}}

{{frost-bunsen-form
   model=userModel
   view=userView
   onChange=(action 'formValueChanged')
   onValidation=(action 'onValidation')}}

<div class='actions'>
 {{frost-button
   onClick=(action 'cancel')
   size='medium'
   text='Cancel'
   priority='tertiary'}}
 {{frost-button
   onClick=(action 'save')
   size='medium'
   text='Save'
   priority='primary'}}
</div>
{{/frost-modal-input}}
```"
       }}
     </div>
 </div>
</div>
