<div class="section-title">Default frost-modal-input</div>
<hr>
<div class="section">
  <div class="example">
    <div class="demo">
      {{#frost-modal-input
        title='Test title'
        subtitle='Subtitle'
        openButton='Open default modal'
        openButtonClasses='medium secondary'
        modalName='my-awesome-modal'}}
        {{frost-create-form}}
      {{/frost-modal-input}}
    </div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{#frost-modal-input
  title='Test title'
  subtitle='Subtitle'
  openButton='Open default modal'
  openButtonClasses='medium secondary'
  modalName='my-awesome-modal'}}
  {{frost-bunsen-form
  model=userModel
  view=userView
  onChange=(action 'formValueChanged')
  onValidation=(action 'onValidation')}}

<div class='actions'>
{{frost-button
  onClick=(action 'cancel')
  size='medium'
  text='Cancel'
  priority='tertiary'}}
{{frost-button
  onClick=(action 'save')
  size='medium'
  text='Save'
  priority='primary'}}
</div>

{{/frost-modal-input}}
    ```"
      }}
    </div>
  </div>
</div>
