<div class="section-title">frost-modal-input</div>
<hr>
<div class="section">
  <div class="example">
    <div class="demo">
      {{frost-create-form
        onConfirm=(action 'save')}}
      {{frost-create-long-form
        onConfirm=(action 'save')}}
    </div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{#frost-modal-input
  title='Test title'
  subtitle='Subtitle'
  modalName=modalName as |slot|}}
  {{#block-slot slot 'openButton' as |item|}}
    {{item.button
      text='Open modal'
      priority='secondary'
      size='medium'}}
  {{/block-slot}}
  {{#block-slot slot 'form'}}
    {{frost-bunsen-form
      bunsenId='userForm'
      model=userModel
      value=userValue
      view=userView
      onChange=(action 'formValueChanged')
      onValidation=(action 'onValidation')}}
  {{/block-slot}}
  {{#block-slot slot 'actions' as |action|}}
    {{action.button
      text='Cancel'
      priority='tertiary'
      onClick=(action 'cancel')
    }}
    {{action.button
      disabled=(not isValid)
      text='Save'
      priority='primary'
      onClick=(action 'save')
    }}
  {{/block-slot}}
{{/frost-modal-input}}

    ```"
      }}
    </div>
  </div>
</div>
